<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить Маршрут</title>
</head>
<body>
<h1>Добавить Маршрут</h1>
<form action="#" th:action="@{/routes/add}" th:object="${route}" method="post">
    <label for="num">Номер маршрута:</label>
    <input type="text" id="name" th:field="*{num}" required/>
    <br/>
    <label for="begin_point">Начальная точка маршрута:</label>
    <input type="text" id="start_point" th:field="*{begin_point}" required/>
    <br/>
    <label for="end_point">Конечная точка маршрута:</label>
    <input type="text" id="end_point" th:field="*{end_point}" required/>
    <button type="submit">Добавить</button>
</for>
<a href="/routes/all">Назад к списку маршрутов</a>
</body>
</html>