<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Удаление тарифа</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Удалить тариф</h2>
    <div class="alert alert-warning" role="alert">
        Вы уверены, что хотите удалить тариф с идентификатором <span th:text="${rate.id}"></span>?
    </div>
    <form th:action="@{/rates/delete/{id}(id=${rate.id})}" method="post">
        <button type="submit" class="btn btn-danger">Удалить</button>
        <a href="@{/rates/allRates}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>